
*{

    margin-top: 100px;
    margin-left: 100px;
}

.incre{

    background-color: green;
    border:none;
    color:white;
    padding:10px;
    border-radius: 50px;
    font-weight: bold;
}

.decre{

    background-color: rgb(245, 4, 4);
    border:none;
    color:white;
    padding:10px;
    border-radius: 50px;
    font-weight: bold;


}